<div class="dashboard d-flex">
  <div class="element-container d-flex">
    <div class="element mat-elevation-z2" matRipple>
      <div>Your Balance</div>
      <div class="element-value">{{ balance$ | async }} RNT</div>
    </div>
    <div class="element mat-elevation-z2" matRipple>
      <div>Rented NFTs</div>
      <div class="element-value">{{ rentedNfts }}</div>
    </div>
    <div class="element mat-elevation-z2" matRipple>
      <div>Rentable NFTs</div>
      <div class="element-value">{{ rentableNfts }}</div>
    </div>
    <div class="element mat-elevation-z2" matRipple>
      <div>Open Lends</div>
      <div class="element-value">{{ openLendes }}</div>
    </div>
    <div class="element mat-elevation-z2" matRipple>
      <div>Lent NFTs</div>
      <div class="element-value">{{ lentNfts }}</div>
    </div>
    <div class="element mat-elevation-z2" matRipple>
      <div>Lendable NFTs</div>
      <div class="element-value">{{ lendableNfts$ | async }}</div>
    </div>
  </div>
  <div class="orders">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Orders</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-table
          [dataSource]="orders$ | async"
          [displayedColumns]="[
            'type',
            'state',
            'nftId',
            'lender',
            'renter',
            'currentPrice',
            'maxPrice',
            'rentedAt',
            'expiresAt',
            'stopActions',
            'claimActions'
          ]"
          matSort
        >
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">
              <div class="status-badge">
                {{ element.type }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let element">
              <div class="state-badge">{{ element.state }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nftId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NFT</th>
            <td mat-cell *matCellDef="let element">
              <img
                matTooltip="Token Contract: {{
                  element.nft.tokenAddress
                }} Token Id: {{ element.nft.tokenId }}"
                class="table-nft"
                src="{{ element.nft.image }}"
                alt="{{ element.nft.name }}"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="lender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lender</th>
            <td mat-cell *matCellDef="let element">
              <app-identicon [identity]="element.lender"></app-identicon>
            </td>
          </ng-container>

          <ng-container matColumnDef="renter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Renter</th>
            <td mat-cell *matCellDef="let element">
              <app-identicon [identity]="element.renter"></app-identicon>
            </td>
          </ng-container>
          <ng-container matColumnDef="currentPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Current Price
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.currentPrice }} RNT
            </td>
          </ng-container>
          <ng-container matColumnDef="maxPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Max. Price
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.maxPrice }} RNT
            </td>
          </ng-container>
          <ng-container matColumnDef="rentedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rented at</th>
            <td mat-cell *matCellDef="let element">
              {{ element.rentedAt | formatDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="expiresAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Expires at
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.expiresAt | formatDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="stopActions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-button
                (click)="stopLendClicked(element)"
                color="warn"
                *ngIf="element.lender === account"
                [disabled]="element.state !== 'OPEN'"
              >
                Stop lend
              </button>
              <button
                mat-button
                (click)="stopRentClicked(element)"
                color="warn"
                *ngIf="element.renter === account"
                [disabled]="element.state !== 'RENTED'"
              >
                Stop rent
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="claimActions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-button
                (click)="claimFundClicked(element)"
                color="primary"
                *ngIf="element.lender === account"
                [disabled]="
                  element.state !== 'CLOSED' || element.state === 'CLAIMED'
                "
              >
                Claim fund
              </button>
              <button
                mat-button
                (click)="claimRefundClicked(element)"
                color="primary"
                *ngIf="element.renter === account"
                [disabled]="
                  element.state !== 'CLOSED' || element.state === 'CLAIMED'
                "
              >
                Claim refund
              </button>
            </td>
          </ng-container>
        </app-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
