.dashboard {
  width: 100%;
}

.orders {
  padding-right: 8px;
  flex-grow: 1;
  width: 100%;
}
.element-container {
  justify-content: center;
  align-items: center;
}

.element {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 80px;
  margin: 0 16px 16px 0;
  border-radius: 4px;
  background-color: white;

  &-value {
    padding: 8px;
    font-size: 24px;
    font-weight: 800;
  }
}

.table-nft {
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
  padding: 2px;
  border-color: #3f51b5;
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 600px) {
  .element {
    margin: 0 8px 8px 0;
  }
}
