<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="content">
      <ng-content> </ng-content>
    </div>
    <span class="spacer"></span>
    <div class="address-container">
      <div class="address" [class.hidden]="(account$ | async) === ''">
        {{ account$ | async | formatAddress }}
      </div>
      <div class="identicon">
        <app-identicon [identity]="account$ | async"></app-identicon>
      </div>
      <button
        mat-raised-button
        (click)="connectClicked($event)"
        *ngIf="(account$ | async) === '' && !isMobile"
      >
        Connect
      </button>
      <button
        mat-flat-button
        (click)="disconnectClicked($event)"
        *ngIf="(account$ | async) !== '' && !isMobile"
      >
        Disconnect
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
