.content {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background: rgba(0, 0, 0, 0.2);
}

.address-container {
  display: flex;
  justify-content: center;
}

.address {
  font-size: 16px;
  cursor: pointer;
  margin: auto 8px;
}

.identicon {
  margin-right: 8px;
}
