<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="title">
      <h1>Rental Project</h1>
    </div>
    <div>
      <a mat-button [routerLink]="'/showroom'" routerLinkActive="active">Showroom</a>
      <a mat-button [routerLink]="'/lending'" routerLinkActive="active">Lending</a>
      <a mat-button [routerLink]="'/renting'" routerLinkActive="active">Renting</a>
    </div>
    <span class="spacer"></span>
    <div class="user-section">

      <button mat-raised-button (click)="connect()" *ngIf="(wallet$ | async) === ''">Connect</button>
      <button mat-button matTooltip="Copy address" [class.hidden]="(wallet$ | async) === ''"
        [cdkCopyToClipboard]="wallet$ | async" [cdkCopyToClipboardAttempts]="5">
        <svg class="identicon" width="36" height="36" [data-jdenticon-value]="wallet$ | async"></svg>
        {{ wallet$ | async | formatAddress }}
      </button>
      <button mat-raised-button (click)="disconnect()" *ngIf="(wallet$ | async) !== ''">Disconnect</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
