<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="title">
      <h1>Rental Project</h1>
    </div>
    <div>
      <a mat-button [routerLink]="'/showroom'" routerLinkActive="active">Showroom</a>
      <a mat-button [routerLink]="'/lending'" routerLinkActive="active">Lending</a>
      <a mat-button [routerLink]="'/renting'" routerLinkActive="active">Renting</a>
    </div>
    <span class="spacer"></span>
    <div>
      <button mat-raised-button>Connect</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
