<div class="showroom">
  <div class="showroom-header">
    <div class="showroom-title">Showcase</div>
    <div>Enjoy our exhibition and give your favorites a like.</div>
  </div>

  <div class="rentings">
    <div class="swiper-container">
      <swiper
        [effect]="'coverflow'"
        [grabCursor]="true"
        [centeredSlides]="true"
        [navigation]="true"
        [pagination]="{
          el: '.pagination',
          clickable: true
        }"
        [coverflowEffect]="{
          rotate: 0,
          stretch: 0,
          depth: 120,
          modifier: 1,
          slideShadows: false
        }"
        [slidesPerView]="'auto'"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let order of orders$ | async">
          <app-card
            [nft]="order.nft"
            [identicon]="order.renter"
            (buttonClick)="likeClicked($event)"
          >
            <div>
              <button
                mat-icon-button
                color="accent"
                (click)="likeClicked(order.nft)"
                *ngIf="order.count == 0"
              >
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button mat-icon-button color="accent" *ngIf="order?.count != 0">
                <mat-icon>favorite</mat-icon> {{ order?.count }}
              </button>
            </div></app-card
          >
        </ng-template>
      </swiper>
      <div class="pagination"></div>
    </div>
  </div>
</div>
