.identicon-container {
  display: flex;
  justify-content: center;
}

.identicon {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
  padding: 2px;
  border-color: #3f51b5;
}
