table {
  width: 100%;
}

.table-container {
  max-width: 100%;
  overflow: auto;
}

.no-data {
  padding: 24px;
  text-align: center;
  color: grey;
}

::ng-deep {
  td.mat-cell,
  th.mat-cell {
    padding: 8px !important;
  }
}
