table {
  width: 100%;
}

.table-container {
  max-width: 100%;
  overflow: auto;
}

.no-data {
  padding: 24px;
  text-align: center;
  color: grey;
}

::ng-deep {
  td.mat-cell,
  th.mat-cell,
  th.mat-header-cell {
    padding: 8px !important;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 24px !important;
  }
}
